---
layout: default
title: Blog
---
<h1> Latest posts</h1>

<ul>
 {% for post in site.posts %}
  <li>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	{% assign author = site.authors | where: 'short_name', post.author | first %}
     {% if author %}
      by <a href="{{ author.url }}">[{{ post.author }}]</a> on {{ post.date | date_to_string }}
	  {% else %}
	   by [{{ post.author }}]</a> on {{ post.date | date_to_string }}
     {% endif %}
	{{ post.excerpt }}
  </li>
  {% endfor %}
</ul>