---
layout: default
title: Blog
pagination: 3
---
<h1> Latest posts</h1>

<ul>
<!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
  <li>
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
	{% assign author = site.authors | where: 'short_name', post.author | first %}
     {% if author %}
      by <a href="{{ author.url }}">[{{ post.author }}]</a> on {{ post.date | date_to_string }}
	  {% else %}
	   by [{{ post.author }}]</a> on {{ post.date | date_to_string }}
     {% endif %}
	{{ post.excerpt }}
  </li>
  {% endfor %}
</ul>



<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    - Page: {{ paginator.page }} of {{ paginator.total_pages }}. <!-- Posts {{paginator.per_page | times: ( paginator.page | minus: 1) | plus: 1 }} to {{ (paginator.per_page | plus: 1 ) | times: paginator.page }} of a total of {{paginator.total_posts}} posts. --> -
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>



